@model gepjarmuKereskedes.Models.Site

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Telephely</legend>

        <div class="editor-label">
            Irányítószám: 
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ZipCode)
            @Html.ValidationMessageFor(model => model.ZipCode)
        </div>

        <div class="editor-label">
            Telephely címe:
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </div>

        <div class="editor-label">
            Parkolóhelyek száma:
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ParkSlotCount)
            @Html.ValidationMessageFor(model => model.ParkSlotCount)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Vissza", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
